<?xml version="1.0" encoding="UTF-8"?>
<Context antiJARLocking="true" path="/JDBCPool">
<Resource name="connpool" auth="Container" type="javax.sql.DataSource"
        maxActive="100" maxIdle="30" maxWait="10000"
        username="root" password="system" driverClassName="com.mysql.cj.jdbc.Driver"
        url="jdbc:mysql://localhost:3306/connpool?useSSL=false&amp;allowPublicKeyRetrieval=true"/>
</Context>
