#UP {
    border: solid whitesmoke 2px;
    text-align: center;
    padding-top: 2.5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    padding-bottom: 2.5px;
    margin-bottom: 100px;
}

body {
    background-color: rgb(12, 7, 7);
    color: white;
}

#DOWN {
    border: solid whitesmoke 2px;
    text-align: center;
}